{% extends 'base.html' %}
{% block content %}

    <div class="body">
        <h1>Enter Your Data</h1>
        <div class="form">
            <form method="POST" action="{% url 'profile-create' %}">
                <input type="hidden" name="csrfmiddlewaretoken"
                       value="97MmAxmrs7yPXUamEdIgRY80OHEP383f6VukAC6agPNIW60LqTcnIQlM6YCYPjc0"/>

                {{ form }}
                {% csrf_token %}

                <input type="submit" value="SUBMIT"/>
            </form>
        </div>
    </div>

{% endblock %}
