{% extends 'base.html' %}
{% block content %}

    <div class="body">
        <h1>Delete Note</h1>
        <div class="form">
            <form method="POST" action="{% url 'delete-note' pk=note.pk %}">
                <input type="hidden" name="csrfmiddlewaretoken"
                       value="hwapnt8nZjnQuJ2M6SZBuXGgOwc3fZlrekSnnyS6N1CJtVSbSytIlPT26Nac1auc"/>

                {{ form }}
                {% csrf_token %}

                <input type="submit" value="Delete"/>
            </form>
        </div>
    </div>

{% endblock %}
