{% extends 'base.html' %}
{% block content %}

    <div class="body">
        <h1>Edit Note</h1>
        <div class="form">
            <form method="POST" action="{% url 'edit-note' pk=note.pk %}">
                <input type="hidden" name="csrfmiddlewaretoken"
                       value="E8qoLvlyiXBfE7NlcyWlXe1TMWV5qvo7BW8mLA5h6FQ8DjDKYeqsO6eF4dTecGxS"/>

                {{ form }}
                {% csrf_token %}

                <input type="submit" value="Edit"/>
            </form>
        </div>
    </div>

{% endblock %}