{% extends 'base.html' %}
{% block content %}

    <div class="body">
        <h1>Your Profile</h1>
        <div class="note-container">
            <h2>
                {{ profile.first_name }} {{ profile.last_name }}
                {% if profile.image_url %}
                    <img src="{{ profile.image_url }}"
                         alt="profile img"/>
                {% else %}
                    <img src="https://www.nicepng.com/png/detail/249-2492113_work-profile-user-default-female-suit-comments-default.png"
                         alt="profile img"/>
                {% endif %}
            </h2>
            <p>Age: {{ profile.age }}</p>
            <div>
                <p>All notes: {{ notes.count }}</p>
            </div>
            <div class="right">
                <a class="button delete" href="{% url 'profile-delete' %}">Delete</a>
            </div>
        </div>
    </div>

{% endblock %}
